data_from_NPD/.DS_Store
data_from_NPD/wlbPoint.csv
data_from_NPD/old

__pycache__/

old/

app_token.py
data_wrangling.ipynb
main_mapbox_localhost.py
main_mapbox_localhost_copy.py
df_sum_prod_yearly_NS.csv
sum_prod_yearly_NS.csv